.container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.texto {
  position: fixed;
  z-index: 0;
  font-size: 1.5em;
  color: white;
  line-height: 40px;
  animation-name: aparece_texto;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.btnNeon {
  font-size: 1.5em;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  background-image: url(../../assets/icons/boton-de-play.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(30deg);
  animation-name: aparece_triangulo;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.movie {
  position: absolute;
  animation-name: gira_movie;
  animation-delay: 6s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

span {
  position: fixed;
  z-index: 0;
  bottom: 0;
  margin-bottom: 20px;
  color: white;
  animation-name: aparece_triangulo;
  animation-delay: 4s;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transition-duration: 1s;
}

.mensaje {
  position: absolute;
  z-index: -1;
  top: 45%;
  left: 0;
  right: 0;
  color: white;
  animation-name: aparece_mensaje;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.botones {
  margin-top: 25em;
}

/* ==========CTA ========== */
.cta {
  display: flex;
  gap: 2em;
  animation-name: aparece_texto;
  animation-delay: 4s;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: both;
}
.btn {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
}
.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-bg);
  border-color: transparent;
}

@keyframes aparece_mensaje {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

@keyframes aparece_texto {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aparece_triangulo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aparece_movie {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-200%);
  }
}

@keyframes gira_movie {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
