.App {
  text-align: center;
  font-family: consolas;
}

@font-face {
  font-family: titulo;
  src: url("./assets/fonts/MethanerseFreeTrial-eZX7x.ttf") format("opentype");
}

@font-face {
  font-family: subTitulo;
  src: url("./assets/fonts/OrchestraOfStrings-yoLd.ttf") format("opentype");
}

h2 {
  font-family: titulo;
  color: #000000;
  font-size: 2em;
}

body {
  height: max-content;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(11, 92, 184, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  /* background-image: url(../src/assets/back.PNG);
  background-position: center; */
}

html {
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #0b5cb8;
  --color-primary-variant: #8eb6e4;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

::-webkit-scrollbar {
  display: none;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #626d8a, 1779px 795px #626d8a, 1154px 812px #626d8a,
    1328px 800px #626d8a, 1262px 1251px #626d8a, 1976px 432px #626d8a,
    1650px 1853px #626d8a, 1001px 468px #626d8a, 609px 405px #626d8a,
    1842px 1576px #626d8a, 742px 1365px #626d8a, 321px 1286px #626d8a,
    462px 926px #626d8a, 481px 458px #626d8a, 484px 1952px #626d8a,
    380px 1267px #626d8a, 1122px 820px #626d8a, 1626px 1217px #626d8a,
    1953px 1255px #626d8a, 1728px 140px #626d8a, 1430px 1262px #626d8a,
    7px 463px #626d8a, 1664px 338px #626d8a, 63px 11px #626d8a,
    552px 438px #626d8a, 3px 783px #626d8a, 1247px 361px #626d8a,
    803px 121px #626d8a, 755px 1435px #626d8a, 659px 1572px #626d8a,
    462px 256px #626d8a, 654px 1979px #626d8a, 1747px 1521px #626d8a,
    1222px 1922px #626d8a, 1615px 1672px #626d8a, 980px 918px #626d8a,
    1477px 1509px #626d8a, 1311px 365px #626d8a, 286px 1255px #626d8a,
    897px 1108px #626d8a, 770px 330px #626d8a, 337px 598px #626d8a,
    1192px 711px #626d8a, 1656px 1284px #626d8a, 1808px 543px #626d8a,
    1099px 608px #626d8a, 1215px 157px #626d8a, 1670px 748px #626d8a,
    110px 734px #626d8a, 1513px 1678px #626d8a, 137px 1969px #626d8a,
    242px 1029px #626d8a, 670px 606px #626d8a, 1173px 1915px #626d8a,
    1730px 1946px #626d8a, 1617px 1395px #626d8a, 294px 1214px #626d8a,
    942px 1551px #626d8a, 327px 885px #626d8a, 1961px 128px #626d8a,
    314px 333px #626d8a, 845px 1457px #626d8a, 1293px 408px #626d8a,
    1058px 582px #626d8a, 1981px 1771px #626d8a, 1473px 311px #626d8a,
    1227px 955px #626d8a, 1937px 1262px #626d8a, 754px 624px #626d8a,
    266px 619px #626d8a, 182px 1621px #626d8a, 29px 802px #626d8a,
    1075px 298px #626d8a, 1986px 1900px #626d8a, 1770px 447px #626d8a,
    1291px 57px #626d8a, 782px 1535px #626d8a, 1312px 111px #626d8a,
    1194px 651px #626d8a, 899px 193px #626d8a, 282px 163px #626d8a,
    1341px 998px #626d8a, 379px 1540px #626d8a, 406px 1584px #626d8a,
    1227px 223px #626d8a, 1525px 402px #626d8a, 66px 1842px #626d8a,
    1531px 1873px #626d8a, 1303px 376px #626d8a, 1949px 1797px #626d8a,
    1093px 1018px #626d8a, 937px 886px #626d8a, 1954px 1675px #626d8a,
    1957px 304px #626d8a, 74px 400px #626d8a, 556px 1123px #626d8a,
    1659px 1330px #626d8a, 1110px 916px #626d8a, 503px 271px #626d8a,
    1574px 1851px #626d8a, 436px 1833px #626d8a, 175px 1150px #626d8a,
    43px 1691px #626d8a, 1758px 1857px #626d8a, 413px 257px #626d8a,
    596px 336px #626d8a, 1608px 338px #626d8a, 333px 108px #626d8a,
    794px 1318px #626d8a, 1150px 73px #626d8a, 891px 1149px #626d8a,
    1614px 387px #626d8a, 1930px 1770px #626d8a, 465px 591px #626d8a,
    394px 472px #626d8a, 438px 1877px #626d8a, 537px 1345px #626d8a,
    583px 470px #626d8a, 1493px 1112px #626d8a, 1437px 1380px #626d8a,
    494px 1304px #626d8a, 17px 1388px #626d8a, 1001px 1558px #626d8a,
    10px 978px #626d8a, 25px 1053px #626d8a, 732px 576px #626d8a,
    1169px 297px #626d8a, 915px 1519px #626d8a, 280px 1149px #626d8a,
    1430px 761px #626d8a, 45px 208px #626d8a, 1790px 1104px #626d8a,
    953px 296px #626d8a, 1480px 733px #626d8a, 1024px 1171px #626d8a,
    1473px 1335px #626d8a, 631px 329px #626d8a, 1498px 1792px #626d8a,
    385px 1825px #626d8a, 483px 781px #626d8a, 1888px 85px #626d8a,
    1659px 715px #626d8a, 192px 177px #626d8a, 275px 1243px #626d8a,
    1203px 1087px #626d8a, 412px 857px #626d8a, 1302px 1270px #626d8a,
    787px 389px #626d8a, 751px 1838px #626d8a, 1381px 1377px #626d8a,
    196px 878px #626d8a, 134px 277px #626d8a, 145px 549px #626d8a,
    1957px 1961px #626d8a, 1120px 1050px #626d8a, 1354px 972px #626d8a,
    1158px 1771px #626d8a, 47px 352px #626d8a, 1112px 584px #626d8a,
    164px 1386px #626d8a, 1273px 1782px #626d8a, 110px 780px #626d8a,
    502px 299px #626d8a, 1768px 933px #626d8a, 886px 1287px #626d8a,
    1309px 1130px #626d8a, 847px 776px #626d8a, 1713px 269px #626d8a,
    1718px 795px #626d8a, 1984px 717px #626d8a, 985px 341px #626d8a,
    1462px 1078px #626d8a, 1702px 1461px #626d8a, 167px 1873px #626d8a,
    862px 1117px #626d8a, 1968px 932px #626d8a, 814px 91px #626d8a,
    1530px 607px #626d8a, 1799px 1571px #626d8a, 1868px 1734px #626d8a,
    1800px 1137px #626d8a, 52px 178px #626d8a, 901px 853px #626d8a,
    1181px 1232px #626d8a, 209px 650px #626d8a, 1165px 1321px #626d8a,
    1046px 159px #626d8a, 578px 1748px #626d8a, 18px 337px #626d8a,
    70px 1062px #626d8a, 1670px 270px #626d8a, 1828px 1321px #626d8a,
    1817px 336px #626d8a, 124px 1935px #626d8a, 1840px 594px #626d8a,
    836px 1194px #626d8a, 1292px 1801px #626d8a, 1547px 945px #626d8a,
    500px 1563px #626d8a, 569px 376px #626d8a, 1107px 1627px #626d8a,
    662px 717px #626d8a, 1352px 762px #626d8a, 771px 1694px #626d8a,
    1529px 484px #626d8a, 1609px 798px #626d8a, 652px 627px #626d8a,
    498px 20px #626d8a, 1308px 164px #626d8a, 245px 1239px #626d8a,
    1131px 860px #626d8a, 1028px 333px #626d8a, 765px 1760px #626d8a,
    1627px 684px #626d8a, 70px 1586px #626d8a, 63px 1230px #626d8a,
    1727px 465px #626d8a, 1946px 1862px #626d8a, 169px 956px #626d8a,
    121px 1826px #626d8a, 1615px 725px #626d8a, 1225px 1925px #626d8a,
    1678px 323px #626d8a, 606px 371px #626d8a, 616px 985px #626d8a,
    490px 1898px #626d8a, 516px 1019px #626d8a, 878px 1448px #626d8a,
    1533px 98px #626d8a, 625px 1152px #626d8a, 224px 522px #626d8a,
    215px 245px #626d8a, 153px 669px #626d8a, 1530px 1652px #626d8a,
    1796px 1697px #626d8a, 908px 1456px #626d8a, 1326px 1947px #626d8a,
    1294px 872px #626d8a, 806px 1296px #626d8a, 783px 556px #626d8a,
    1075px 973px #626d8a, 613px 505px #626d8a, 1160px 833px #626d8a,
    1053px 1793px #626d8a, 1343px 1990px #626d8a, 937px 254px #626d8a,
    1084px 234px #626d8a, 575px 374px #626d8a, 367px 1656px #626d8a,
    494px 510px #626d8a, 1403px 1242px #626d8a, 1827px 1741px #626d8a,
    1239px 616px #626d8a, 579px 1670px #626d8a, 971px 836px #626d8a,
    1025px 813px #626d8a, 707px 1407px #626d8a, 188px 1777px #626d8a,
    1576px 18px #626d8a, 1px 533px #626d8a, 1123px 589px #626d8a,
    88px 705px #626d8a, 1844px 679px #626d8a, 121px 350px #626d8a,
    1853px 470px #626d8a, 1333px 263px #626d8a, 1702px 957px #626d8a,
    475px 725px #626d8a, 1650px 75px #626d8a, 1372px 11px #626d8a,
    714px 353px #626d8a, 968px 461px #626d8a, 1413px 1400px #626d8a,
    1856px 1724px #626d8a, 793px 1524px #626d8a, 1717px 962px #626d8a,
    1263px 1567px #626d8a, 1621px 1961px #626d8a, 537px 243px #626d8a,
    912px 1140px #626d8a, 659px 1300px #626d8a, 113px 516px #626d8a,
    1111px 1738px #626d8a, 336px 953px #626d8a, 1038px 248px #626d8a,
    692px 935px #626d8a, 516px 1451px #626d8a, 1057px 401px #626d8a,
    1014px 388px #626d8a, 1363px 1764px #626d8a, 855px 745px #626d8a,
    57px 767px #626d8a, 779px 1263px #626d8a, 1746px 1797px #626d8a,
    1975px 848px #626d8a, 1051px 941px #626d8a, 79px 1146px #626d8a,
    1945px 1015px #626d8a, 1506px 1855px #626d8a, 955px 730px #626d8a,
    27px 1865px #626d8a, 1378px 1691px #626d8a, 969px 1738px #626d8a,
    206px 842px #626d8a, 1068px 91px #626d8a, 1466px 1725px #626d8a,
    533px 1091px #626d8a, 1205px 748px #626d8a, 324px 398px #626d8a,
    1417px 1048px #626d8a, 349px 1827px #626d8a, 730px 1048px #626d8a,
    1671px 690px #626d8a, 1441px 1068px #626d8a, 251px 925px #626d8a,
    144px 1631px #626d8a, 108px 1524px #626d8a, 187px 1172px #626d8a,
    183px 403px #626d8a, 907px 1873px #626d8a, 973px 104px #626d8a,
    65px 1390px #626d8a, 372px 1486px #626d8a, 424px 765px #626d8a,
    1410px 350px #626d8a, 760px 827px #626d8a, 1179px 612px #626d8a,
    251px 1106px #626d8a, 657px 851px #626d8a, 63px 925px #626d8a,
    1272px 1791px #626d8a, 1361px 1189px #626d8a, 778px 1101px #626d8a,
    817px 1436px #626d8a, 1884px 1440px #626d8a, 1662px 1781px #626d8a,
    276px 990px #626d8a, 1835px 1617px #626d8a, 1516px 246px #626d8a,
    544px 1792px #626d8a, 667px 1652px #626d8a, 1142px 1221px #626d8a,
    1417px 38px #626d8a, 33px 1467px #626d8a, 1087px 1608px #626d8a,
    1406px 1323px #626d8a, 440px 1564px #626d8a, 1697px 758px #626d8a,
    743px 340px #626d8a, 1244px 218px #626d8a, 1382px 1783px #626d8a,
    539px 1285px #626d8a, 273px 592px #626d8a, 1268px 444px #626d8a,
    1302px 70px #626d8a, 989px 478px #626d8a, 1044px 1477px #626d8a,
    395px 803px #626d8a, 1609px 1799px #626d8a, 999px 100px #626d8a,
    1444px 2000px #626d8a, 1966px 1675px #626d8a, 51px 822px #626d8a,
    1387px 825px #626d8a, 983px 440px #626d8a, 1269px 624px #626d8a,
    1303px 1455px #626d8a, 666px 313px #626d8a, 1776px 132px #626d8a,
    1041px 1523px #626d8a, 168px 1599px #626d8a, 1714px 604px #626d8a,
    657px 594px #626d8a, 1301px 1318px #626d8a, 961px 541px #626d8a,
    310px 422px #626d8a, 636px 1847px #626d8a, 814px 1005px #626d8a,
    444px 1093px #626d8a, 583px 1551px #626d8a, 1746px 1807px #626d8a,
    1550px 1359px #626d8a, 283px 1837px #626d8a, 1257px 1772px #626d8a,
    1620px 1691px #626d8a, 727px 1180px #626d8a, 798px 1744px #626d8a,
    754px 1707px #626d8a, 1871px 189px #626d8a, 1355px 1000px #626d8a,
    1839px 599px #626d8a, 7px 1689px #626d8a, 775px 966px #626d8a,
    231px 1980px #626d8a, 1231px 717px #626d8a, 1748px 1658px #626d8a,
    385px 1352px #626d8a, 1168px 182px #626d8a, 576px 997px #626d8a,
    1955px 279px #626d8a, 314px 1162px #626d8a, 626px 1525px #626d8a,
    1372px 597px #626d8a, 168px 809px #626d8a, 1559px 1646px #626d8a,
    1316px 600px #626d8a, 1903px 1615px #626d8a, 1899px 173px #626d8a,
    1936px 1042px #626d8a, 977px 180px #626d8a, 80px 1132px #626d8a,
    1258px 287px #626d8a, 1944px 1624px #626d8a, 1710px 1271px #626d8a,
    859px 315px #626d8a, 658px 601px #626d8a, 444px 516px #626d8a,
    1443px 70px #626d8a, 61px 1468px #626d8a, 67px 338px #626d8a,
    1888px 711px #626d8a, 1838px 1848px #626d8a, 1252px 774px #626d8a,
    1986px 1392px #626d8a, 1734px 213px #626d8a, 1904px 76px #626d8a,
    1503px 1882px #626d8a, 268px 113px #626d8a, 1124px 387px #626d8a,
    565px 1591px #626d8a, 446px 1116px #626d8a, 1861px 661px #626d8a,
    55px 1090px #626d8a, 328px 837px #626d8a, 775px 85px #626d8a,
    436px 632px #626d8a, 1704px 904px #626d8a, 406px 1068px #626d8a,
    1077px 719px #626d8a, 125px 722px #626d8a, 1735px 174px #626d8a,
    1541px 1590px #626d8a, 1883px 498px #626d8a, 733px 1195px #626d8a,
    1178px 1793px #626d8a, 254px 719px #626d8a, 1790px 545px #626d8a,
    799px 454px #626d8a, 1076px 1737px #626d8a, 360px 95px #626d8a,
    516px 1367px #626d8a, 1016px 493px #626d8a, 1340px 15px #626d8a,
    1843px 355px #626d8a, 416px 1857px #626d8a, 1745px 1967px #626d8a,
    1768px 1266px #626d8a, 778px 1437px #626d8a, 1892px 1480px #626d8a,
    1861px 1700px #626d8a, 1973px 832px #626d8a, 132px 1773px #626d8a,
    1928px 1974px #626d8a, 470px 1852px #626d8a, 1855px 463px #626d8a,
    892px 1018px #626d8a, 374px 1670px #626d8a, 140px 391px #626d8a,
    1868px 1945px #626d8a, 505px 1988px #626d8a, 1798px 1514px #626d8a,
    134px 873px #626d8a, 1319px 1278px #626d8a, 1796px 1403px #626d8a,
    1400px 503px #626d8a, 480px 1004px #626d8a, 53px 434px #626d8a,
    1075px 507px #626d8a, 1376px 13px #626d8a, 150px 623px #626d8a,
    563px 1355px #626d8a, 1464px 858px #626d8a, 1123px 967px #626d8a,
    1273px 1412px #626d8a, 1378px 1689px #626d8a, 1390px 1248px #626d8a,
    273px 191px #626d8a, 471px 46px #626d8a, 1520px 780px #626d8a,
    830px 530px #626d8a, 1369px 1915px #626d8a, 434px 1541px #626d8a,
    1658px 753px #626d8a, 1955px 1908px #626d8a, 409px 1106px #626d8a,
    1609px 597px #626d8a, 637px 1671px #626d8a, 1957px 475px #626d8a,
    1595px 1496px #626d8a, 1979px 1958px #626d8a, 1364px 1658px #626d8a,
    929px 425px #626d8a, 1197px 967px #626d8a, 82px 1164px #626d8a,
    310px 176px #626d8a, 1242px 1822px #626d8a, 1081px 484px #626d8a,
    1436px 1211px #626d8a, 992px 1826px #626d8a, 1801px 714px #626d8a,
    1034px 16px #626d8a, 1241px 145px #626d8a, 1815px 811px #626d8a,
    517px 111px #626d8a, 512px 1871px #626d8a, 185px 1024px #626d8a,
    869px 1606px #626d8a, 904px 1418px #626d8a, 271px 807px #626d8a,
    1627px 1971px #626d8a, 1048px 200px #626d8a, 1543px 152px #626d8a,
    1559px 924px #626d8a, 1205px 1281px #626d8a, 1073px 697px #626d8a,
    1614px 426px #626d8a, 1064px 1329px #626d8a, 1963px 1252px #626d8a,
    444px 992px #626d8a, 553px 1688px #626d8a, 298px 578px #626d8a,
    772px 636px #626d8a, 1755px 1446px #626d8a, 1503px 450px #626d8a,
    504px 135px #626d8a, 1714px 314px #626d8a, 447px 1165px #626d8a,
    1903px 1258px #626d8a, 1916px 434px #626d8a, 1468px 1851px #626d8a,
    631px 244px #626d8a, 201px 1060px #626d8a, 88px 340px #626d8a,
    342px 1039px #626d8a, 699px 488px #626d8a, 1284px 1794px #626d8a,
    1458px 759px #626d8a, 1335px 1629px #626d8a, 1367px 1363px #626d8a,
    185px 235px #626d8a, 76px 1315px #626d8a, 1528px 198px #626d8a,
    471px 1165px #626d8a, 1160px 1077px #626d8a, 79px 473px #626d8a,
    114px 654px #626d8a, 1400px 722px #626d8a, 829px 1532px #626d8a,
    448px 941px #626d8a, 627px 1987px #626d8a, 820px 919px #626d8a,
    1506px 217px #626d8a, 1946px 1562px #626d8a, 142px 1489px #626d8a,
    793px 602px #626d8a, 441px 91px #626d8a, 259px 453px #626d8a,
    1538px 1732px #626d8a, 1498px 1501px #626d8a, 656px 805px #626d8a,
    1808px 1178px #626d8a, 1954px 890px #626d8a, 656px 1605px #626d8a,
    1177px 350px #626d8a, 666px 992px #626d8a, 1486px 305px #626d8a,
    661px 1647px #626d8a, 1209px 1168px #626d8a, 1499px 1450px #626d8a,
    554px 98px #626d8a, 744px 1047px #626d8a, 2px 524px #626d8a,
    383px 1086px #626d8a, 1822px 244px #626d8a, 1704px 1714px #626d8a,
    797px 1527px #626d8a, 1916px 1610px #626d8a, 1865px 860px #626d8a,
    1567px 1823px #626d8a, 1340px 273px #626d8a, 1133px 168px #626d8a,
    557px 1978px #626d8a, 1419px 1724px #626d8a, 668px 538px #626d8a,
    1411px 1026px #626d8a, 1194px 1431px #626d8a, 267px 1899px #626d8a,
    556px 950px #626d8a, 1847px 1514px #626d8a, 255px 131px #626d8a,
    442px 441px #626d8a, 1089px 1011px #626d8a, 1931px 1781px #626d8a,
    187px 119px #626d8a, 1317px 1797px #626d8a, 15px 971px #626d8a,
    1542px 618px #626d8a, 594px 1216px #626d8a, 523px 1980px #626d8a,
    682px 1977px #626d8a, 1840px 1934px #626d8a, 73px 1975px #626d8a,
    192px 37px #626d8a, 1796px 1491px #626d8a, 237px 418px #626d8a,
    635px 1936px #626d8a, 735px 421px #626d8a, 1785px 1564px #626d8a,
    85px 1401px #626d8a, 288px 1436px #626d8a, 972px 1682px #626d8a,
    986px 206px #626d8a, 730px 1225px #626d8a, 569px 557px #626d8a,
    1805px 1898px #626d8a, 488px 1963px #626d8a, 877px 997px #626d8a,
    545px 1029px #626d8a, 1725px 1017px #626d8a, 1320px 1855px #626d8a,
    1220px 409px #626d8a, 1911px 453px #626d8a, 784px 636px #626d8a,
    570px 862px #626d8a, 1009px 7px #626d8a, 432px 1640px #626d8a,
    1941px 1197px #626d8a, 422px 994px #626d8a, 465px 1879px #626d8a,
    918px 200px #626d8a, 1978px 1313px #626d8a, 520px 954px #626d8a,
    1270px 1594px #626d8a, 1087px 578px #626d8a, 1597px 58px #626d8a,
    1782px 550px #626d8a, 274px 204px #626d8a, 1743px 1662px #626d8a,
    441px 1338px #626d8a, 545px 1844px #626d8a, 1702px 894px #626d8a,
    1760px 1426px #626d8a, 795px 1068px #626d8a, 1076px 373px #626d8a,
    1666px 1594px #626d8a, 1490px 1257px #626d8a, 7px 1967px #626d8a,
    357px 1354px #626d8a, 1740px 1071px #626d8a, 1876px 1981px #626d8a,
    421px 1758px #626d8a, 750px 1071px #626d8a, 963px 266px #626d8a,
    918px 1422px #626d8a, 811px 463px #626d8a, 1084px 1186px #626d8a,
    950px 1852px #626d8a, 709px 916px #626d8a, 37px 1612px #626d8a,
    777px 747px #626d8a, 749px 1663px #626d8a, 1036px 600px #626d8a,
    1951px 1697px #626d8a, 1208px 1139px #626d8a, 549px 400px #626d8a,
    1144px 584px #626d8a, 1466px 1315px #626d8a, 131px 826px #626d8a,
    172px 1097px #626d8a, 253px 97px #626d8a, 197px 422px #626d8a,
    792px 25px #626d8a, 957px 1632px #626d8a, 1209px 889px #626d8a,
    826px 638px #626d8a, 1464px 1137px #626d8a, 1189px 2px #626d8a,
    1737px 1514px #626d8a, 142px 954px #626d8a, 1831px 544px #626d8a,
    1008px 779px #626d8a, 1889px 257px #626d8a, 1006px 1085px #626d8a,
    428px 1043px #626d8a, 1915px 1585px #626d8a, 232px 1935px #626d8a,
    767px 706px #626d8a, 431px 334px #626d8a, 897px 15px #626d8a,
    705px 146px #626d8a;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1602px 661px #626d8a, 1779px 795px #626d8a, 1154px 812px #626d8a,
    1328px 800px #626d8a, 1262px 1251px #626d8a, 1976px 432px #626d8a,
    1650px 1853px #626d8a, 1001px 468px #626d8a, 609px 405px #626d8a,
    1842px 1576px #626d8a, 742px 1365px #626d8a, 321px 1286px #626d8a,
    462px 926px #626d8a, 481px 458px #626d8a, 484px 1952px #626d8a,
    380px 1267px #626d8a, 1122px 820px #626d8a, 1626px 1217px #626d8a,
    1953px 1255px #626d8a, 1728px 140px #626d8a, 1430px 1262px #626d8a,
    7px 463px #626d8a, 1664px 338px #626d8a, 63px 11px #626d8a,
    552px 438px #626d8a, 3px 783px #626d8a, 1247px 361px #626d8a,
    803px 121px #626d8a, 755px 1435px #626d8a, 659px 1572px #626d8a,
    462px 256px #626d8a, 654px 1979px #626d8a, 1747px 1521px #626d8a,
    1222px 1922px #626d8a, 1615px 1672px #626d8a, 980px 918px #626d8a,
    1477px 1509px #626d8a, 1311px 365px #626d8a, 286px 1255px #626d8a,
    897px 1108px #626d8a, 770px 330px #626d8a, 337px 598px #626d8a,
    1192px 711px #626d8a, 1656px 1284px #626d8a, 1808px 543px #626d8a,
    1099px 608px #626d8a, 1215px 157px #626d8a, 1670px 748px #626d8a,
    110px 734px #626d8a, 1513px 1678px #626d8a, 137px 1969px #626d8a,
    242px 1029px #626d8a, 670px 606px #626d8a, 1173px 1915px #626d8a,
    1730px 1946px #626d8a, 1617px 1395px #626d8a, 294px 1214px #626d8a,
    942px 1551px #626d8a, 327px 885px #626d8a, 1961px 128px #626d8a,
    314px 333px #626d8a, 845px 1457px #626d8a, 1293px 408px #626d8a,
    1058px 582px #626d8a, 1981px 1771px #626d8a, 1473px 311px #626d8a,
    1227px 955px #626d8a, 1937px 1262px #626d8a, 754px 624px #626d8a,
    266px 619px #626d8a, 182px 1621px #626d8a, 29px 802px #626d8a,
    1075px 298px #626d8a, 1986px 1900px #626d8a, 1770px 447px #626d8a,
    1291px 57px #626d8a, 782px 1535px #626d8a, 1312px 111px #626d8a,
    1194px 651px #626d8a, 899px 193px #626d8a, 282px 163px #626d8a,
    1341px 998px #626d8a, 379px 1540px #626d8a, 406px 1584px #626d8a,
    1227px 223px #626d8a, 1525px 402px #626d8a, 66px 1842px #626d8a,
    1531px 1873px #626d8a, 1303px 376px #626d8a, 1949px 1797px #626d8a,
    1093px 1018px #626d8a, 937px 886px #626d8a, 1954px 1675px #626d8a,
    1957px 304px #626d8a, 74px 400px #626d8a, 556px 1123px #626d8a,
    1659px 1330px #626d8a, 1110px 916px #626d8a, 503px 271px #626d8a,
    1574px 1851px #626d8a, 436px 1833px #626d8a, 175px 1150px #626d8a,
    43px 1691px #626d8a, 1758px 1857px #626d8a, 413px 257px #626d8a,
    596px 336px #626d8a, 1608px 338px #626d8a, 333px 108px #626d8a,
    794px 1318px #626d8a, 1150px 73px #626d8a, 891px 1149px #626d8a,
    1614px 387px #626d8a, 1930px 1770px #626d8a, 465px 591px #626d8a,
    394px 472px #626d8a, 438px 1877px #626d8a, 537px 1345px #626d8a,
    583px 470px #626d8a, 1493px 1112px #626d8a, 1437px 1380px #626d8a,
    494px 1304px #626d8a, 17px 1388px #626d8a, 1001px 1558px #626d8a,
    10px 978px #626d8a, 25px 1053px #626d8a, 732px 576px #626d8a,
    1169px 297px #626d8a, 915px 1519px #626d8a, 280px 1149px #626d8a,
    1430px 761px #626d8a, 45px 208px #626d8a, 1790px 1104px #626d8a,
    953px 296px #626d8a, 1480px 733px #626d8a, 1024px 1171px #626d8a,
    1473px 1335px #626d8a, 631px 329px #626d8a, 1498px 1792px #626d8a,
    385px 1825px #626d8a, 483px 781px #626d8a, 1888px 85px #626d8a,
    1659px 715px #626d8a, 192px 177px #626d8a, 275px 1243px #626d8a,
    1203px 1087px #626d8a, 412px 857px #626d8a, 1302px 1270px #626d8a,
    787px 389px #626d8a, 751px 1838px #626d8a, 1381px 1377px #626d8a,
    196px 878px #626d8a, 134px 277px #626d8a, 145px 549px #626d8a,
    1957px 1961px #626d8a, 1120px 1050px #626d8a, 1354px 972px #626d8a,
    1158px 1771px #626d8a, 47px 352px #626d8a, 1112px 584px #626d8a,
    164px 1386px #626d8a, 1273px 1782px #626d8a, 110px 780px #626d8a,
    502px 299px #626d8a, 1768px 933px #626d8a, 886px 1287px #626d8a,
    1309px 1130px #626d8a, 847px 776px #626d8a, 1713px 269px #626d8a,
    1718px 795px #626d8a, 1984px 717px #626d8a, 985px 341px #626d8a,
    1462px 1078px #626d8a, 1702px 1461px #626d8a, 167px 1873px #626d8a,
    862px 1117px #626d8a, 1968px 932px #626d8a, 814px 91px #626d8a,
    1530px 607px #626d8a, 1799px 1571px #626d8a, 1868px 1734px #626d8a,
    1800px 1137px #626d8a, 52px 178px #626d8a, 901px 853px #626d8a,
    1181px 1232px #626d8a, 209px 650px #626d8a, 1165px 1321px #626d8a,
    1046px 159px #626d8a, 578px 1748px #626d8a, 18px 337px #626d8a,
    70px 1062px #626d8a, 1670px 270px #626d8a, 1828px 1321px #626d8a,
    1817px 336px #626d8a, 124px 1935px #626d8a, 1840px 594px #626d8a,
    836px 1194px #626d8a, 1292px 1801px #626d8a, 1547px 945px #626d8a,
    500px 1563px #626d8a, 569px 376px #626d8a, 1107px 1627px #626d8a,
    662px 717px #626d8a, 1352px 762px #626d8a, 771px 1694px #626d8a,
    1529px 484px #626d8a, 1609px 798px #626d8a, 652px 627px #626d8a,
    498px 20px #626d8a, 1308px 164px #626d8a, 245px 1239px #626d8a,
    1131px 860px #626d8a, 1028px 333px #626d8a, 765px 1760px #626d8a,
    1627px 684px #626d8a, 70px 1586px #626d8a, 63px 1230px #626d8a,
    1727px 465px #626d8a, 1946px 1862px #626d8a, 169px 956px #626d8a,
    121px 1826px #626d8a, 1615px 725px #626d8a, 1225px 1925px #626d8a,
    1678px 323px #626d8a, 606px 371px #626d8a, 616px 985px #626d8a,
    490px 1898px #626d8a, 516px 1019px #626d8a, 878px 1448px #626d8a,
    1533px 98px #626d8a, 625px 1152px #626d8a, 224px 522px #626d8a,
    215px 245px #626d8a, 153px 669px #626d8a, 1530px 1652px #626d8a,
    1796px 1697px #626d8a, 908px 1456px #626d8a, 1326px 1947px #626d8a,
    1294px 872px #626d8a, 806px 1296px #626d8a, 783px 556px #626d8a,
    1075px 973px #626d8a, 613px 505px #626d8a, 1160px 833px #626d8a,
    1053px 1793px #626d8a, 1343px 1990px #626d8a, 937px 254px #626d8a,
    1084px 234px #626d8a, 575px 374px #626d8a, 367px 1656px #626d8a,
    494px 510px #626d8a, 1403px 1242px #626d8a, 1827px 1741px #626d8a,
    1239px 616px #626d8a, 579px 1670px #626d8a, 971px 836px #626d8a,
    1025px 813px #626d8a, 707px 1407px #626d8a, 188px 1777px #626d8a,
    1576px 18px #626d8a, 1px 533px #626d8a, 1123px 589px #626d8a,
    88px 705px #626d8a, 1844px 679px #626d8a, 121px 350px #626d8a,
    1853px 470px #626d8a, 1333px 263px #626d8a, 1702px 957px #626d8a,
    475px 725px #626d8a, 1650px 75px #626d8a, 1372px 11px #626d8a,
    714px 353px #626d8a, 968px 461px #626d8a, 1413px 1400px #626d8a,
    1856px 1724px #626d8a, 793px 1524px #626d8a, 1717px 962px #626d8a,
    1263px 1567px #626d8a, 1621px 1961px #626d8a, 537px 243px #626d8a,
    912px 1140px #626d8a, 659px 1300px #626d8a, 113px 516px #626d8a,
    1111px 1738px #626d8a, 336px 953px #626d8a, 1038px 248px #626d8a,
    692px 935px #626d8a, 516px 1451px #626d8a, 1057px 401px #626d8a,
    1014px 388px #626d8a, 1363px 1764px #626d8a, 855px 745px #626d8a,
    57px 767px #626d8a, 779px 1263px #626d8a, 1746px 1797px #626d8a,
    1975px 848px #626d8a, 1051px 941px #626d8a, 79px 1146px #626d8a,
    1945px 1015px #626d8a, 1506px 1855px #626d8a, 955px 730px #626d8a,
    27px 1865px #626d8a, 1378px 1691px #626d8a, 969px 1738px #626d8a,
    206px 842px #626d8a, 1068px 91px #626d8a, 1466px 1725px #626d8a,
    533px 1091px #626d8a, 1205px 748px #626d8a, 324px 398px #626d8a,
    1417px 1048px #626d8a, 349px 1827px #626d8a, 730px 1048px #626d8a,
    1671px 690px #626d8a, 1441px 1068px #626d8a, 251px 925px #626d8a,
    144px 1631px #626d8a, 108px 1524px #626d8a, 187px 1172px #626d8a,
    183px 403px #626d8a, 907px 1873px #626d8a, 973px 104px #626d8a,
    65px 1390px #626d8a, 372px 1486px #626d8a, 424px 765px #626d8a,
    1410px 350px #626d8a, 760px 827px #626d8a, 1179px 612px #626d8a,
    251px 1106px #626d8a, 657px 851px #626d8a, 63px 925px #626d8a,
    1272px 1791px #626d8a, 1361px 1189px #626d8a, 778px 1101px #626d8a,
    817px 1436px #626d8a, 1884px 1440px #626d8a, 1662px 1781px #626d8a,
    276px 990px #626d8a, 1835px 1617px #626d8a, 1516px 246px #626d8a,
    544px 1792px #626d8a, 667px 1652px #626d8a, 1142px 1221px #626d8a,
    1417px 38px #626d8a, 33px 1467px #626d8a, 1087px 1608px #626d8a,
    1406px 1323px #626d8a, 440px 1564px #626d8a, 1697px 758px #626d8a,
    743px 340px #626d8a, 1244px 218px #626d8a, 1382px 1783px #626d8a,
    539px 1285px #626d8a, 273px 592px #626d8a, 1268px 444px #626d8a,
    1302px 70px #626d8a, 989px 478px #626d8a, 1044px 1477px #626d8a,
    395px 803px #626d8a, 1609px 1799px #626d8a, 999px 100px #626d8a,
    1444px 2000px #626d8a, 1966px 1675px #626d8a, 51px 822px #626d8a,
    1387px 825px #626d8a, 983px 440px #626d8a, 1269px 624px #626d8a,
    1303px 1455px #626d8a, 666px 313px #626d8a, 1776px 132px #626d8a,
    1041px 1523px #626d8a, 168px 1599px #626d8a, 1714px 604px #626d8a,
    657px 594px #626d8a, 1301px 1318px #626d8a, 961px 541px #626d8a,
    310px 422px #626d8a, 636px 1847px #626d8a, 814px 1005px #626d8a,
    444px 1093px #626d8a, 583px 1551px #626d8a, 1746px 1807px #626d8a,
    1550px 1359px #626d8a, 283px 1837px #626d8a, 1257px 1772px #626d8a,
    1620px 1691px #626d8a, 727px 1180px #626d8a, 798px 1744px #626d8a,
    754px 1707px #626d8a, 1871px 189px #626d8a, 1355px 1000px #626d8a,
    1839px 599px #626d8a, 7px 1689px #626d8a, 775px 966px #626d8a,
    231px 1980px #626d8a, 1231px 717px #626d8a, 1748px 1658px #626d8a,
    385px 1352px #626d8a, 1168px 182px #626d8a, 576px 997px #626d8a,
    1955px 279px #626d8a, 314px 1162px #626d8a, 626px 1525px #626d8a,
    1372px 597px #626d8a, 168px 809px #626d8a, 1559px 1646px #626d8a,
    1316px 600px #626d8a, 1903px 1615px #626d8a, 1899px 173px #626d8a,
    1936px 1042px #626d8a, 977px 180px #626d8a, 80px 1132px #626d8a,
    1258px 287px #626d8a, 1944px 1624px #626d8a, 1710px 1271px #626d8a,
    859px 315px #626d8a, 658px 601px #626d8a, 444px 516px #626d8a,
    1443px 70px #626d8a, 61px 1468px #626d8a, 67px 338px #626d8a,
    1888px 711px #626d8a, 1838px 1848px #626d8a, 1252px 774px #626d8a,
    1986px 1392px #626d8a, 1734px 213px #626d8a, 1904px 76px #626d8a,
    1503px 1882px #626d8a, 268px 113px #626d8a, 1124px 387px #626d8a,
    565px 1591px #626d8a, 446px 1116px #626d8a, 1861px 661px #626d8a,
    55px 1090px #626d8a, 328px 837px #626d8a, 775px 85px #626d8a,
    436px 632px #626d8a, 1704px 904px #626d8a, 406px 1068px #626d8a,
    1077px 719px #626d8a, 125px 722px #626d8a, 1735px 174px #626d8a,
    1541px 1590px #626d8a, 1883px 498px #626d8a, 733px 1195px #626d8a,
    1178px 1793px #626d8a, 254px 719px #626d8a, 1790px 545px #626d8a,
    799px 454px #626d8a, 1076px 1737px #626d8a, 360px 95px #626d8a,
    516px 1367px #626d8a, 1016px 493px #626d8a, 1340px 15px #626d8a,
    1843px 355px #626d8a, 416px 1857px #626d8a, 1745px 1967px #626d8a,
    1768px 1266px #626d8a, 778px 1437px #626d8a, 1892px 1480px #626d8a,
    1861px 1700px #626d8a, 1973px 832px #626d8a, 132px 1773px #626d8a,
    1928px 1974px #626d8a, 470px 1852px #626d8a, 1855px 463px #626d8a,
    892px 1018px #626d8a, 374px 1670px #626d8a, 140px 391px #626d8a,
    1868px 1945px #626d8a, 505px 1988px #626d8a, 1798px 1514px #626d8a,
    134px 873px #626d8a, 1319px 1278px #626d8a, 1796px 1403px #626d8a,
    1400px 503px #626d8a, 480px 1004px #626d8a, 53px 434px #626d8a,
    1075px 507px #626d8a, 1376px 13px #626d8a, 150px 623px #626d8a,
    563px 1355px #626d8a, 1464px 858px #626d8a, 1123px 967px #626d8a,
    1273px 1412px #626d8a, 1378px 1689px #626d8a, 1390px 1248px #626d8a,
    273px 191px #626d8a, 471px 46px #626d8a, 1520px 780px #626d8a,
    830px 530px #626d8a, 1369px 1915px #626d8a, 434px 1541px #626d8a,
    1658px 753px #626d8a, 1955px 1908px #626d8a, 409px 1106px #626d8a,
    1609px 597px #626d8a, 637px 1671px #626d8a, 1957px 475px #626d8a,
    1595px 1496px #626d8a, 1979px 1958px #626d8a, 1364px 1658px #626d8a,
    929px 425px #626d8a, 1197px 967px #626d8a, 82px 1164px #626d8a,
    310px 176px #626d8a, 1242px 1822px #626d8a, 1081px 484px #626d8a,
    1436px 1211px #626d8a, 992px 1826px #626d8a, 1801px 714px #626d8a,
    1034px 16px #626d8a, 1241px 145px #626d8a, 1815px 811px #626d8a,
    517px 111px #626d8a, 512px 1871px #626d8a, 185px 1024px #626d8a,
    869px 1606px #626d8a, 904px 1418px #626d8a, 271px 807px #626d8a,
    1627px 1971px #626d8a, 1048px 200px #626d8a, 1543px 152px #626d8a,
    1559px 924px #626d8a, 1205px 1281px #626d8a, 1073px 697px #626d8a,
    1614px 426px #626d8a, 1064px 1329px #626d8a, 1963px 1252px #626d8a,
    444px 992px #626d8a, 553px 1688px #626d8a, 298px 578px #626d8a,
    772px 636px #626d8a, 1755px 1446px #626d8a, 1503px 450px #626d8a,
    504px 135px #626d8a, 1714px 314px #626d8a, 447px 1165px #626d8a,
    1903px 1258px #626d8a, 1916px 434px #626d8a, 1468px 1851px #626d8a,
    631px 244px #626d8a, 201px 1060px #626d8a, 88px 340px #626d8a,
    342px 1039px #626d8a, 699px 488px #626d8a, 1284px 1794px #626d8a,
    1458px 759px #626d8a, 1335px 1629px #626d8a, 1367px 1363px #626d8a,
    185px 235px #626d8a, 76px 1315px #626d8a, 1528px 198px #626d8a,
    471px 1165px #626d8a, 1160px 1077px #626d8a, 79px 473px #626d8a,
    114px 654px #626d8a, 1400px 722px #626d8a, 829px 1532px #626d8a,
    448px 941px #626d8a, 627px 1987px #626d8a, 820px 919px #626d8a,
    1506px 217px #626d8a, 1946px 1562px #626d8a, 142px 1489px #626d8a,
    793px 602px #626d8a, 441px 91px #626d8a, 259px 453px #626d8a,
    1538px 1732px #626d8a, 1498px 1501px #626d8a, 656px 805px #626d8a,
    1808px 1178px #626d8a, 1954px 890px #626d8a, 656px 1605px #626d8a,
    1177px 350px #626d8a, 666px 992px #626d8a, 1486px 305px #626d8a,
    661px 1647px #626d8a, 1209px 1168px #626d8a, 1499px 1450px #626d8a,
    554px 98px #626d8a, 744px 1047px #626d8a, 2px 524px #626d8a,
    383px 1086px #626d8a, 1822px 244px #626d8a, 1704px 1714px #626d8a,
    797px 1527px #626d8a, 1916px 1610px #626d8a, 1865px 860px #626d8a,
    1567px 1823px #626d8a, 1340px 273px #626d8a, 1133px 168px #626d8a,
    557px 1978px #626d8a, 1419px 1724px #626d8a, 668px 538px #626d8a,
    1411px 1026px #626d8a, 1194px 1431px #626d8a, 267px 1899px #626d8a,
    556px 950px #626d8a, 1847px 1514px #626d8a, 255px 131px #626d8a,
    442px 441px #626d8a, 1089px 1011px #626d8a, 1931px 1781px #626d8a,
    187px 119px #626d8a, 1317px 1797px #626d8a, 15px 971px #626d8a,
    1542px 618px #626d8a, 594px 1216px #626d8a, 523px 1980px #626d8a,
    682px 1977px #626d8a, 1840px 1934px #626d8a, 73px 1975px #626d8a,
    192px 37px #626d8a, 1796px 1491px #626d8a, 237px 418px #626d8a,
    635px 1936px #626d8a, 735px 421px #626d8a, 1785px 1564px #626d8a,
    85px 1401px #626d8a, 288px 1436px #626d8a, 972px 1682px #626d8a,
    986px 206px #626d8a, 730px 1225px #626d8a, 569px 557px #626d8a,
    1805px 1898px #626d8a, 488px 1963px #626d8a, 877px 997px #626d8a,
    545px 1029px #626d8a, 1725px 1017px #626d8a, 1320px 1855px #626d8a,
    1220px 409px #626d8a, 1911px 453px #626d8a, 784px 636px #626d8a,
    570px 862px #626d8a, 1009px 7px #626d8a, 432px 1640px #626d8a,
    1941px 1197px #626d8a, 422px 994px #626d8a, 465px 1879px #626d8a,
    918px 200px #626d8a, 1978px 1313px #626d8a, 520px 954px #626d8a,
    1270px 1594px #626d8a, 1087px 578px #626d8a, 1597px 58px #626d8a,
    1782px 550px #626d8a, 274px 204px #626d8a, 1743px 1662px #626d8a,
    441px 1338px #626d8a, 545px 1844px #626d8a, 1702px 894px #626d8a,
    1760px 1426px #626d8a, 795px 1068px #626d8a, 1076px 373px #626d8a,
    1666px 1594px #626d8a, 1490px 1257px #626d8a, 7px 1967px #626d8a,
    357px 1354px #626d8a, 1740px 1071px #626d8a, 1876px 1981px #626d8a,
    421px 1758px #626d8a, 750px 1071px #626d8a, 963px 266px #626d8a,
    918px 1422px #626d8a, 811px 463px #626d8a, 1084px 1186px #626d8a,
    950px 1852px #626d8a, 709px 916px #626d8a, 37px 1612px #626d8a,
    777px 747px #626d8a, 749px 1663px #626d8a, 1036px 600px #626d8a,
    1951px 1697px #626d8a, 1208px 1139px #626d8a, 549px 400px #626d8a,
    1144px 584px #626d8a, 1466px 1315px #626d8a, 131px 826px #626d8a,
    172px 1097px #626d8a, 253px 97px #626d8a, 197px 422px #626d8a,
    792px 25px #626d8a, 957px 1632px #626d8a, 1209px 889px #626d8a,
    826px 638px #626d8a, 1464px 1137px #626d8a, 1189px 2px #626d8a,
    1737px 1514px #626d8a, 142px 954px #626d8a, 1831px 544px #626d8a,
    1008px 779px #626d8a, 1889px 257px #626d8a, 1006px 1085px #626d8a,
    428px 1043px #626d8a, 1915px 1585px #626d8a, 232px 1935px #626d8a,
    767px 706px #626d8a, 431px 334px #626d8a, 897px 15px #626d8a,
    705px 146px #626d8a;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 743px 879px #0b5cb8, 1145px 1260px #0b5cb8, 1412px 672px #0b5cb8,
    507px 1211px #0b5cb8, 52px 89px #0b5cb8, 1045px 256px #0b5cb8,
    1022px 859px #0b5cb8, 1520px 413px #0b5cb8, 1575px 604px #0b5cb8,
    992px 877px #0b5cb8, 914px 960px #0b5cb8, 139px 685px #0b5cb8,
    720px 707px #0b5cb8, 1235px 945px #0b5cb8, 1256px 1153px #0b5cb8,
    1223px 641px #0b5cb8, 1810px 466px #0b5cb8, 1011px 1248px #0b5cb8,
    799px 1160px #0b5cb8, 770px 1135px #0b5cb8, 1000px 1841px #0b5cb8,
    1733px 385px #0b5cb8, 1142px 610px #0b5cb8, 1047px 487px #0b5cb8,
    1268px 1604px #0b5cb8, 1877px 835px #0b5cb8, 1003px 698px #0b5cb8,
    525px 714px #0b5cb8, 703px 960px #0b5cb8, 267px 1336px #0b5cb8,
    1343px 133px #0b5cb8, 230px 731px #0b5cb8, 1613px 1782px #0b5cb8,
    758px 1457px #0b5cb8, 1877px 1912px #0b5cb8, 1155px 1320px #0b5cb8,
    719px 932px #0b5cb8, 746px 69px #0b5cb8, 1148px 186px #0b5cb8,
    1642px 1323px #0b5cb8, 728px 1138px #0b5cb8, 815px 461px #0b5cb8,
    1281px 137px #0b5cb8, 132px 1620px #0b5cb8, 685px 500px #0b5cb8,
    1067px 1439px #0b5cb8, 101px 1941px #0b5cb8, 218px 857px #0b5cb8,
    181px 1464px #0b5cb8, 1403px 769px #0b5cb8, 744px 815px #0b5cb8,
    1052px 553px #0b5cb8, 1447px 1035px #0b5cb8, 814px 1090px #0b5cb8,
    1127px 1883px #0b5cb8, 689px 83px #0b5cb8, 1067px 1753px #0b5cb8,
    1948px 34px #0b5cb8, 676px 1749px #0b5cb8, 830px 1875px #0b5cb8,
    836px 512px #0b5cb8, 1847px 800px #0b5cb8, 920px 1950px #0b5cb8,
    368px 71px #0b5cb8, 1773px 818px #0b5cb8, 215px 1460px #0b5cb8,
    1246px 1249px #0b5cb8, 1078px 470px #0b5cb8, 401px 437px #0b5cb8,
    1711px 1570px #0b5cb8, 1345px 506px #0b5cb8, 397px 571px #0b5cb8,
    1610px 1971px #0b5cb8, 1134px 1569px #0b5cb8, 163px 322px #0b5cb8,
    1837px 371px #0b5cb8, 485px 424px #0b5cb8, 488px 1287px #0b5cb8,
    747px 354px #0b5cb8, 944px 939px #0b5cb8, 505px 100px #0b5cb8,
    470px 1438px #0b5cb8, 1222px 1874px #0b5cb8, 559px 316px #0b5cb8,
    1188px 1154px #0b5cb8, 136px 11px #0b5cb8, 1213px 1280px #0b5cb8,
    335px 422px #0b5cb8, 1849px 388px #0b5cb8, 181px 1449px #0b5cb8,
    1945px 1622px #0b5cb8, 1609px 1373px #0b5cb8, 901px 922px #0b5cb8,
    1413px 520px #0b5cb8, 1526px 1563px #0b5cb8, 1318px 1232px #0b5cb8,
    1623px 518px #0b5cb8, 664px 76px #0b5cb8, 1692px 1963px #0b5cb8,
    1752px 1104px #0b5cb8, 1291px 1249px #0b5cb8, 369px 1823px #0b5cb8,
    552px 1779px #0b5cb8, 1007px 634px #0b5cb8, 391px 1101px #0b5cb8,
    1480px 1260px #0b5cb8, 1375px 251px #0b5cb8, 594px 1939px #0b5cb8,
    1832px 333px #0b5cb8, 1233px 1790px #0b5cb8, 1802px 648px #0b5cb8,
    1934px 798px #0b5cb8, 1781px 1814px #0b5cb8, 1849px 1544px #0b5cb8,
    568px 771px #0b5cb8, 527px 169px #0b5cb8, 1094px 62px #0b5cb8,
    713px 1750px #0b5cb8, 290px 563px #0b5cb8, 1704px 935px #0b5cb8,
    1207px 1612px #0b5cb8, 202px 1971px #0b5cb8, 1451px 355px #0b5cb8,
    1749px 571px #0b5cb8, 1292px 1565px #0b5cb8, 1827px 1082px #0b5cb8,
    22px 984px #0b5cb8, 1315px 1760px #0b5cb8, 1699px 1391px #0b5cb8,
    1793px 1715px #0b5cb8, 1501px 49px #0b5cb8, 1480px 1502px #0b5cb8,
    1455px 1964px #0b5cb8, 1787px 1539px #0b5cb8, 462px 883px #0b5cb8,
    84px 1082px #0b5cb8, 1589px 1414px #0b5cb8, 121px 1323px #0b5cb8,
    788px 494px #0b5cb8, 109px 109px #0b5cb8, 951px 1299px #0b5cb8,
    872px 1535px #0b5cb8, 1171px 806px #0b5cb8, 671px 598px #0b5cb8,
    1767px 1069px #0b5cb8, 192px 1881px #0b5cb8, 1263px 171px #0b5cb8,
    1532px 224px #0b5cb8, 664px 1191px #0b5cb8, 145px 686px #0b5cb8,
    638px 1744px #0b5cb8, 1099px 332px #0b5cb8, 1119px 802px #0b5cb8,
    530px 1776px #0b5cb8, 765px 1011px #0b5cb8, 1528px 1117px #0b5cb8,
    1375px 1170px #0b5cb8, 1454px 470px #0b5cb8, 299px 558px #0b5cb8,
    960px 655px #0b5cb8, 1816px 1220px #0b5cb8, 1165px 1486px #0b5cb8,
    260px 731px #0b5cb8, 548px 80px #0b5cb8, 1003px 1239px #0b5cb8,
    1058px 230px #0b5cb8, 505px 1085px #0b5cb8, 140px 1772px #0b5cb8,
    1439px 326px #0b5cb8, 1456px 778px #0b5cb8, 915px 1545px #0b5cb8,
    430px 1368px #0b5cb8, 849px 587px #0b5cb8, 1231px 869px #0b5cb8,
    1662px 928px #0b5cb8, 1903px 38px #0b5cb8, 1052px 1977px #0b5cb8,
    1935px 1481px #0b5cb8, 538px 1271px #0b5cb8, 1511px 1304px #0b5cb8,
    1617px 1015px #0b5cb8, 489px 1088px #0b5cb8, 996px 1039px #0b5cb8,
    201px 1878px #0b5cb8, 466px 1689px #0b5cb8, 1363px 862px #0b5cb8,
    1374px 1714px #0b5cb8, 549px 787px #0b5cb8, 1669px 1043px #0b5cb8,
    697px 1874px #0b5cb8, 1915px 1724px #0b5cb8, 1488px 1629px #0b5cb8,
    1545px 1875px #0b5cb8, 978px 1201px #0b5cb8, 1126px 1916px #0b5cb8,
    412px 592px #0b5cb8, 852px 732px #0b5cb8, 1060px 444px #0b5cb8,
    323px 1676px #0b5cb8, 1593px 1616px #0b5cb8;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 743px 879px #0b5cb8, 1145px 1260px #0b5cb8, 1412px 672px #0b5cb8,
    507px 1211px #0b5cb8, 52px 89px #0b5cb8, 1045px 256px #0b5cb8,
    1022px 859px #0b5cb8, 1520px 413px #0b5cb8, 1575px 604px #0b5cb8,
    992px 877px #0b5cb8, 914px 960px #0b5cb8, 139px 685px #0b5cb8,
    720px 707px #0b5cb8, 1235px 945px #0b5cb8, 1256px 1153px #0b5cb8,
    1223px 641px #0b5cb8, 1810px 466px #0b5cb8, 1011px 1248px #0b5cb8,
    799px 1160px #0b5cb8, 770px 1135px #0b5cb8, 1000px 1841px #0b5cb8,
    1733px 385px #0b5cb8, 1142px 610px #0b5cb8, 1047px 487px #0b5cb8,
    1268px 1604px #0b5cb8, 1877px 835px #0b5cb8, 1003px 698px #0b5cb8,
    525px 714px #0b5cb8, 703px 960px #0b5cb8, 267px 1336px #0b5cb8,
    1343px 133px #0b5cb8, 230px 731px #0b5cb8, 1613px 1782px #0b5cb8,
    758px 1457px #0b5cb8, 1877px 1912px #0b5cb8, 1155px 1320px #0b5cb8,
    719px 932px #0b5cb8, 746px 69px #0b5cb8, 1148px 186px #0b5cb8,
    1642px 1323px #0b5cb8, 728px 1138px #0b5cb8, 815px 461px #0b5cb8,
    1281px 137px #0b5cb8, 132px 1620px #0b5cb8, 685px 500px #0b5cb8,
    1067px 1439px #0b5cb8, 101px 1941px #0b5cb8, 218px 857px #0b5cb8,
    181px 1464px #0b5cb8, 1403px 769px #0b5cb8, 744px 815px #0b5cb8,
    1052px 553px #0b5cb8, 1447px 1035px #0b5cb8, 814px 1090px #0b5cb8,
    1127px 1883px #0b5cb8, 689px 83px #0b5cb8, 1067px 1753px #0b5cb8,
    1948px 34px #0b5cb8, 676px 1749px #0b5cb8, 830px 1875px #0b5cb8,
    836px 512px #0b5cb8, 1847px 800px #0b5cb8, 920px 1950px #0b5cb8,
    368px 71px #0b5cb8, 1773px 818px #0b5cb8, 215px 1460px #0b5cb8,
    1246px 1249px #0b5cb8, 1078px 470px #0b5cb8, 401px 437px #0b5cb8,
    1711px 1570px #0b5cb8, 1345px 506px #0b5cb8, 397px 571px #0b5cb8,
    1610px 1971px #0b5cb8, 1134px 1569px #0b5cb8, 163px 322px #0b5cb8,
    1837px 371px #0b5cb8, 485px 424px #0b5cb8, 488px 1287px #0b5cb8,
    747px 354px #0b5cb8, 944px 939px #0b5cb8, 505px 100px #0b5cb8,
    470px 1438px #0b5cb8, 1222px 1874px #0b5cb8, 559px 316px #0b5cb8,
    1188px 1154px #0b5cb8, 136px 11px #0b5cb8, 1213px 1280px #0b5cb8,
    335px 422px #0b5cb8, 1849px 388px #0b5cb8, 181px 1449px #0b5cb8,
    1945px 1622px #0b5cb8, 1609px 1373px #0b5cb8, 901px 922px #0b5cb8,
    1413px 520px #0b5cb8, 1526px 1563px #0b5cb8, 1318px 1232px #0b5cb8,
    1623px 518px #0b5cb8, 664px 76px #0b5cb8, 1692px 1963px #0b5cb8,
    1752px 1104px #0b5cb8, 1291px 1249px #0b5cb8, 369px 1823px #0b5cb8,
    552px 1779px #0b5cb8, 1007px 634px #0b5cb8, 391px 1101px #0b5cb8,
    1480px 1260px #0b5cb8, 1375px 251px #0b5cb8, 594px 1939px #0b5cb8,
    1832px 333px #0b5cb8, 1233px 1790px #0b5cb8, 1802px 648px #0b5cb8,
    1934px 798px #0b5cb8, 1781px 1814px #0b5cb8, 1849px 1544px #0b5cb8,
    568px 771px #0b5cb8, 527px 169px #0b5cb8, 1094px 62px #0b5cb8,
    713px 1750px #0b5cb8, 290px 563px #0b5cb8, 1704px 935px #0b5cb8,
    1207px 1612px #0b5cb8, 202px 1971px #0b5cb8, 1451px 355px #0b5cb8,
    1749px 571px #0b5cb8, 1292px 1565px #0b5cb8, 1827px 1082px #0b5cb8,
    22px 984px #0b5cb8, 1315px 1760px #0b5cb8, 1699px 1391px #0b5cb8,
    1793px 1715px #0b5cb8, 1501px 49px #0b5cb8, 1480px 1502px #0b5cb8,
    1455px 1964px #0b5cb8, 1787px 1539px #0b5cb8, 462px 883px #0b5cb8,
    84px 1082px #0b5cb8, 1589px 1414px #0b5cb8, 121px 1323px #0b5cb8,
    788px 494px #0b5cb8, 109px 109px #0b5cb8, 951px 1299px #0b5cb8,
    872px 1535px #0b5cb8, 1171px 806px #0b5cb8, 671px 598px #0b5cb8,
    1767px 1069px #0b5cb8, 192px 1881px #0b5cb8, 1263px 171px #0b5cb8,
    1532px 224px #0b5cb8, 664px 1191px #0b5cb8, 145px 686px #0b5cb8,
    638px 1744px #0b5cb8, 1099px 332px #0b5cb8, 1119px 802px #0b5cb8,
    530px 1776px #0b5cb8, 765px 1011px #0b5cb8, 1528px 1117px #0b5cb8,
    1375px 1170px #0b5cb8, 1454px 470px #0b5cb8, 299px 558px #0b5cb8,
    960px 655px #0b5cb8, 1816px 1220px #0b5cb8, 1165px 1486px #0b5cb8,
    260px 731px #0b5cb8, 548px 80px #0b5cb8, 1003px 1239px #0b5cb8,
    1058px 230px #0b5cb8, 505px 1085px #0b5cb8, 140px 1772px #0b5cb8,
    1439px 326px #0b5cb8, 1456px 778px #0b5cb8, 915px 1545px #0b5cb8,
    430px 1368px #0b5cb8, 849px 587px #0b5cb8, 1231px 869px #0b5cb8,
    1662px 928px #0b5cb8, 1903px 38px #0b5cb8, 1052px 1977px #0b5cb8,
    1935px 1481px #0b5cb8, 538px 1271px #0b5cb8, 1511px 1304px #0b5cb8,
    1617px 1015px #0b5cb8, 489px 1088px #0b5cb8, 996px 1039px #0b5cb8,
    201px 1878px #0b5cb8, 466px 1689px #0b5cb8, 1363px 862px #0b5cb8,
    1374px 1714px #0b5cb8, 549px 787px #0b5cb8, 1669px 1043px #0b5cb8,
    697px 1874px #0b5cb8, 1915px 1724px #0b5cb8, 1488px 1629px #0b5cb8,
    1545px 1875px #0b5cb8, 978px 1201px #0b5cb8, 1126px 1916px #0b5cb8,
    412px 592px #0b5cb8, 852px 732px #0b5cb8, 1060px 444px #0b5cb8,
    323px 1676px #0b5cb8, 1593px 1616px #0b5cb8;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1703px 1208px #8eb6e4, 381px 207px #8eb6e4, 1516px 1990px #8eb6e4,
    1960px 982px #8eb6e4, 922px 1278px #8eb6e4, 689px 1766px #8eb6e4,
    538px 554px #8eb6e4, 802px 1529px #8eb6e4, 871px 1805px #8eb6e4,
    228px 1830px #8eb6e4, 353px 186px #8eb6e4, 1873px 1154px #8eb6e4,
    494px 1244px #8eb6e4, 1415px 261px #8eb6e4, 1020px 1990px #8eb6e4,
    1924px 1169px #8eb6e4, 1205px 464px #8eb6e4, 596px 830px #8eb6e4,
    1319px 504px #8eb6e4, 953px 1850px #8eb6e4, 408px 1360px #8eb6e4,
    569px 1704px #8eb6e4, 1367px 729px #8eb6e4, 807px 1845px #8eb6e4,
    572px 825px #8eb6e4, 523px 1089px #8eb6e4, 1405px 1622px #8eb6e4,
    1352px 423px #8eb6e4, 1247px 1758px #8eb6e4, 1117px 920px #8eb6e4,
    983px 352px #8eb6e4, 175px 1351px #8eb6e4, 962px 260px #8eb6e4,
    918px 1530px #8eb6e4, 1184px 935px #8eb6e4, 201px 473px #8eb6e4,
    90px 1759px #8eb6e4, 211px 933px #8eb6e4, 1887px 171px #8eb6e4,
    177px 101px #8eb6e4, 844px 346px #8eb6e4, 283px 1821px #8eb6e4,
    1236px 1225px #8eb6e4, 173px 1875px #8eb6e4, 24px 1776px #8eb6e4,
    277px 804px #8eb6e4, 1714px 715px #8eb6e4, 937px 1882px #8eb6e4,
    1708px 1405px #8eb6e4, 173px 1847px #8eb6e4, 1902px 1160px #8eb6e4,
    1725px 1270px #8eb6e4, 36px 18px #8eb6e4, 1612px 1467px #8eb6e4,
    1390px 1733px #8eb6e4, 927px 1315px #8eb6e4, 1907px 1337px #8eb6e4,
    1855px 1454px #8eb6e4, 1033px 1425px #8eb6e4, 1450px 1359px #8eb6e4,
    1422px 771px #8eb6e4, 256px 343px #8eb6e4, 1581px 340px #8eb6e4,
    1180px 247px #8eb6e4, 191px 882px #8eb6e4, 372px 1171px #8eb6e4,
    1509px 937px #8eb6e4, 1018px 1829px #8eb6e4, 121px 152px #8eb6e4,
    327px 767px #8eb6e4, 1438px 1421px #8eb6e4, 321px 905px #8eb6e4,
    616px 245px #8eb6e4, 1957px 1520px #8eb6e4, 1811px 1924px #8eb6e4,
    1454px 1778px #8eb6e4, 1507px 822px #8eb6e4, 649px 218px #8eb6e4,
    362px 1567px #8eb6e4, 1637px 145px #8eb6e4, 115px 466px #8eb6e4,
    345px 935px #8eb6e4, 112px 1019px #8eb6e4, 1440px 1910px #8eb6e4,
    1280px 1367px #8eb6e4, 1505px 890px #8eb6e4, 788px 927px #8eb6e4,
    753px 1273px #8eb6e4, 1924px 1714px #8eb6e4, 495px 1149px #8eb6e4,
    267px 1851px #8eb6e4, 1293px 1431px #8eb6e4, 1159px 433px #8eb6e4,
    1725px 1170px #8eb6e4, 1067px 296px #8eb6e4, 746px 463px #8eb6e4,
    412px 349px #8eb6e4, 1193px 1421px #8eb6e4, 564px 455px #8eb6e4,
    1675px 589px #8eb6e4;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1703px 1208px #8eb6e4, 381px 207px #8eb6e4, 1516px 1990px #8eb6e4,
    1960px 982px #8eb6e4, 922px 1278px #8eb6e4, 689px 1766px #8eb6e4,
    538px 554px #8eb6e4, 802px 1529px #8eb6e4, 871px 1805px #8eb6e4,
    228px 1830px #8eb6e4, 353px 186px #8eb6e4, 1873px 1154px #8eb6e4,
    494px 1244px #8eb6e4, 1415px 261px #8eb6e4, 1020px 1990px #8eb6e4,
    1924px 1169px #8eb6e4, 1205px 464px #8eb6e4, 596px 830px #8eb6e4,
    1319px 504px #8eb6e4, 953px 1850px #8eb6e4, 408px 1360px #8eb6e4,
    569px 1704px #8eb6e4, 1367px 729px #8eb6e4, 807px 1845px #8eb6e4,
    572px 825px #8eb6e4, 523px 1089px #8eb6e4, 1405px 1622px #8eb6e4,
    1352px 423px #8eb6e4, 1247px 1758px #8eb6e4, 1117px 920px #8eb6e4,
    983px 352px #8eb6e4, 175px 1351px #8eb6e4, 962px 260px #8eb6e4,
    918px 1530px #8eb6e4, 1184px 935px #8eb6e4, 201px 473px #8eb6e4,
    90px 1759px #8eb6e4, 211px 933px #8eb6e4, 1887px 171px #8eb6e4,
    177px 101px #8eb6e4, 844px 346px #8eb6e4, 283px 1821px #8eb6e4,
    1236px 1225px #8eb6e4, 173px 1875px #8eb6e4, 24px 1776px #8eb6e4,
    277px 804px #8eb6e4, 1714px 715px #8eb6e4, 937px 1882px #8eb6e4,
    1708px 1405px #8eb6e4, 173px 1847px #8eb6e4, 1902px 1160px #8eb6e4,
    1725px 1270px #8eb6e4, 36px 18px #8eb6e4, 1612px 1467px #8eb6e4,
    1390px 1733px #8eb6e4, 927px 1315px #8eb6e4, 1907px 1337px #8eb6e4,
    1855px 1454px #8eb6e4, 1033px 1425px #8eb6e4, 1450px 1359px #8eb6e4,
    1422px 771px #8eb6e4, 256px 343px #8eb6e4, 1581px 340px #8eb6e4,
    1180px 247px #8eb6e4, 191px 882px #8eb6e4, 372px 1171px #8eb6e4,
    1509px 937px #8eb6e4, 1018px 1829px #8eb6e4, 121px 152px #8eb6e4,
    327px 767px #8eb6e4, 1438px 1421px #8eb6e4, 321px 905px #8eb6e4,
    616px 245px #8eb6e4, 1957px 1520px #8eb6e4, 1811px 1924px #8eb6e4,
    1454px 1778px #8eb6e4, 1507px 822px #8eb6e4, 649px 218px #8eb6e4,
    362px 1567px #8eb6e4, 1637px 145px #8eb6e4, 115px 466px #8eb6e4,
    345px 935px #8eb6e4, 112px 1019px #8eb6e4, 1440px 1910px #8eb6e4,
    1280px 1367px #8eb6e4, 1505px 890px #8eb6e4, 788px 927px #8eb6e4,
    753px 1273px #8eb6e4, 1924px 1714px #8eb6e4, 495px 1149px #8eb6e4,
    267px 1851px #8eb6e4, 1293px 1431px #8eb6e4, 1159px 433px #8eb6e4,
    1725px 1170px #8eb6e4, 1067px 296px #8eb6e4, 746px 463px #8eb6e4,
    412px 349px #8eb6e4, 1193px 1421px #8eb6e4, 564px 455px #8eb6e4,
    1675px 589px #8eb6e4;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
